body {
    background: #282828;
}
.clock {
    width: 300px;
    height: 300px;
    position: relative;
    padding: 20px;
    border: 18px solid #282828;
    box-shadow: 5px -5px 5px 0 #303030,
    -5px 8px 8px 0 #202020,
    inset -3px 5px 6px 0 #202020,
    inset 3px -3px 1px 0 #202020;

    border-radius: 50%;
    margin: 50px auto;
}
.clock-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: 0;
}

.clock-outer::after {
    transform: rotate(90deg);
}

.clock-outer::after,
.clock-outer::before,
.clock-outer .streak{
    content: '';
    position: absolute;
    width: 8px;
    height: 100%;
    background: #D0D0D0;
    z-index: 0;
    left: 49%;
}

.clock-outer .streak {
    width: 5px;
}

.clock-outer .streak-30 {
    transform: rotate(30deg);
}
.clock-outer .streak-60 {
    transform: rotate(60deg);
}
.clock-outer .streak-120 {
    transform: rotate(120deg);
}
.clock-outer .streak-150 {
    transform: rotate(150deg);
}

.clock-inner {
    position: absolute;
    background: #282828;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    z-index: 1;
}
.clock-inner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: -8px;
    margin-top: -8px;
    background: #D0D0D0;
    z-index: 10;
}

.clock-inner .hand {
    position: absolute;
    width: 50%;
    right: 50%;
    height: 6px;
    background: #D0D0D0;
    top: 50%;
    margin-top: -3px;
    border-radius: 10px;
    transform: rotate(90deg);
    transform-origin: 100%;
    z-index: 9;
}

.clock-inner #hour-hand {
    width: 30%;
    z-index: 7;
}
.clock-inner #minute-hand {
    height: 4px;
    width: 40%;
    z-index: 8;
    margin-top: -2px;
}
.clock-inner #second-hand {
    height: 2px;
    margin-top: -1px;
}

