$bg_color: #1D1E1E;
$text_color: #D0D0D0;
$panel_color: #282828;
html,
body {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

body {
  overflow:auto;
  background-color: $bg_color;
  color: $text_color;
  font-family: 'Lucida Sans Unicode', 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 15% 0;
}

p {
  margin: 5px 0;
}

input[type="button"],
input[type="submit"]{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #141414;
  border-radius: 10px;
  border-width: 0;
  width: 80%;
  min-width: 100px;
  margin-bottom: 5%;
}
input[type="button"]:hover,
input[type="submit"]:hover{
  opacity: 0.8;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.data {
  position: relative;
  background-color: #282828;
  border-radius: 20px;
}