$scroll_color: #1D1E1E;
$bg_color: #141414;
$border_color: #D0D0D0;
$success_color: #99FF99;
$failure_color: #FF9999;
.scroll {
  overflow: auto;
  max-height: 30vh;
}
.scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scroll::-webkit-scrollbar-corner {
  background-color: inherit;
}

.scroll::-webkit-scrollbar-track {
  background-color: $scroll_color;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: $bg_color;
  border-radius: 10px;
}

table {
  overflow: auto;
  margin: auto;
  text-align: center;
  border-spacing: 0;
  border-collapse: separate;
}
th {
  border-top: solid $border_color 1px;
}
td, th {
  border-right: solid $border_color 1px;
  border-bottom: solid $border_color 1px;
  padding: 5px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: solid #D0D0D0 1px;
}
td {
  font-weight: lighter;
}
th {
  background-color: $bg_color;
}

th:first-of-type {
  border-top-left-radius: 8px;
}
th:last-of-type {
  border-top-right-radius: 8px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px;
}
.green {
  color: $success_color;
}
.red {
  color: $failure_color;
}